@charset "utf-8";

h1, h2, h3, h4, h5, h6, div, p, ul, li {
	margin:0;
	padding:0;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #000;
}

#divWrapper {
	width: 700px;
	margin: 20px auto;
}

#divHeader {
	width: 700px;
	background:url(https://github.com/Keiza0/KamilJarzabek_Block1-3/blob/master/images/maxresdefault.jpg?raw=true);
}

#divHeader img {
	padding-top:20px;
	padding-bottom:20px;
	margin-left: 100px;
}

#divLine {
	width:700px;
	height: 1px;
	background:url(https://github.com/Keiza0/KamilJarzabek_Block1-3/blob/master/images/maxresdefault.jpg?raw=true);
}

#divLinks {
	width: 700px;
	background:url(https://github.com/Keiza0/KamilJarzabek_Block1-3/blob/master/images/maxresdefault.jpg?raw=true);
	/*background:-moz-linear-gradient (top, #333, #609);
	background:-webkit-gradient(linear, left top, left bottom, from(#333), to(#609));*/
}

#divNav {
	width: 384px;
	background:url(https://github.com/Keiza0/KamilJarzabek_Block1-3/blob/master/images/maxresdefault.jpg?raw=true);
	/*background:-moz-linear-gradient (top, #333, #609);
	background:-webkit-gradient(linear, left top, left bottom, from(#333), to(#609));*/
	height: 36px;
	margin: 0 auto;
	
}
	
#divNav ul {
	list-style-type: none;
}
	
#divNav ul li {
	float: left;
}

#divNav ul li a {
	display:block;
	height: 20px;
	line-height: 20px;
	background:#000;
	width:80px;
	font-size:0.8em;
	font-weight:bold;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	margin: 7px;

	/*Border Radius*/
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: 1px solid #000;
	
	/*Gradients*/
	background:-moz-linear-gradient (top, #609, #333);
	background:-webkit-gradient(linear, left top, left bottom, from(#609), to(#333));
}
	
#divNav ul li a:hover {
	background:#333;
	background:-moz-linear-gradient (top, #000, #609);
	background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#609));
}

#divNav ul li a:current, #divNav ul li a.current:hover {
	background:#333;
	background:-moz-linear-gradient (top, #000, #609);
	background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#609));
	color:#f63;
	cursor:default;
}

#divAbout {
	width:700px;
	background:#000;
	padding-top:60px;
	padding-bottom:60px;
}

#divContent {
	width:430px;
	margin: 0 auto;
	background:url(https://github.com/Keiza0/KamilJarzabek_Block1-3/blob/master/images/maxresdefault.jpg?raw=true);
	border: 2px solid #fff;
	
	/*Gradients
	background:-moz-linear-gradient (top, #666, #333 #222);
	background:-webkit-gradient(linear, left top, left bottom, from(#666), to(#222), color-stop(0.5,#333));*/
	
	/*Border Radius*/
	border-radius:15px;
	-moz-boder-radius:15px;
	-webkit-border-radius:15px;
	
	/*Shadow*/
	box-shadow: 2px 2px 4px 4px #000;
	-moz-box-shadow: 2px 2px 4px #000;
	-webkit-box-shadow: 2px 2px 4px #000;
}

#divContent img {
	float: left;
	border: 1px solid #609;
	background:#333;
	padding: 16px;
	margin: 0.9em;
	
	/*Gradients*/
	background:-moz-linear-gradient (top, #000, #333);
	background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
	
	/*Border Radius*/
	border-radius:15px;
	-moz-boder-radius:15px;
	-webkit-border-radius:15px;
}

#divContent h5 {
	color: #609;
	text-align:center;
	font-size:18px;
	font-weight: bold;
	padding-top: 0.8em;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
}

#divContent h6 {
	margin-top: 10px;
	margin-left:215px;
	color: #999;
	font-size:13px;
	text-decoration:blink;
}

#divContent p {
	text-justify:auto;
	font-size:0.8em;
	color:#999;
	padding:0.7em;
	line-height:1.4em;
}

/*#divFooter {
	background:#222;
	height: 10px;
	width: 700px;
	border-bottom: 1px solid #333;
}*/
